{% extends "IsetFormationBundle::layout.html.twig" %}

{% block title %}
Ajouter une offre
{% endblock %}

{% block body %}

<form novalidate method="POST" action="{{ path('offre_nouveau') }}">
	{{ form(formulaire) }}
</form>
{% endblock %}