*.DS_Store
/web/bundles/
/web/app_dev.php
/web/uploads/
/web/media/*
/app/bootstrap_cache.php.cache
/app/cache/*
/app/logs/*
/vendor*
/web/*.css
/web/*.js
/web/compiled
/app/config/parameters.yml
web/.htaccess
